/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Core Styles */
#wrapper {
    background: #f4f4f4;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 40px;
}

/* Calculator */
#calculator {
    background: #3333ff;
    width: 320px;
    height: 400px;
    border-radius: 24px;
    margin: auto;
    display: flex;
}

#calculator .container {
    margin: auto;
    width: 100%;
    padding: 8px
    /* border-radius: 0 0 24px 24px; */
}

/* Display */
#output {
    background: #fff;
    color: #000;
    font-size: 54px;
    line-height: 54px;
    text-align: right;
    font-weight: 500;
    height: 64px;
    margin: 16px;
    padding: 4px;
    border: 1px solid blue;
    border-radius: 10px;
}

/* Buttons */
.container #buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    
}

.btn {
    background: #eee;
    border: 0.5px solid #999;
    line-height: 64px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.btn {
    border-radius: 16px;
}
.btn:hover {
    background-color: #d2ddb9;
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
}

#equal {
    background: #ffa500;
    color: #fff;
}